.memberSingle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;

  .memberImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.memberInfo {
  display: flex;
  align-items: center;

  .memberName {
    margin-left: 2rem;
    font-size: 1.6rem;
  }

  .team {
    display: block;
    font-size: 1.2rem;
    color: #999;
    font-weight: 400;
    margin-top: 1rem;
    background: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid #999;
    }
  }
}

.btnGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.profileImgContainer {
  border-radius: 50%;
  border: 1px solid #eaeaea !important;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
